<h1> Login Page </h1>

<%= flash[:message] if flash[:message] %>

<%= form_for :user do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username, required: true %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
    <br>
    <%= f.submit "Submit" %>

<% end %>

<h4>Or you can log in here with Google!</h4>
<%= button_to "Log In With Google", '/auth/google_oauth2' %>