<h1><%=@movie.title%></h1>
<h2><%=@movie.user.username%> </h2>

<div><%= @movie.description%></div>

<p><%= link_to 'See all reviews', movie_reviews_path(@movie) %></p>
<p><%= link_to 'Add a review', new_movie_review_path(@movie) %></p>

<h4>Reviews:</h4>
<% @movie.reviews.each do |r|%>
  <li><strong><%= r.user.username%></strong> says "<%= link_to r.content, review_path(r)%>" </li>
<% end %>