<h1>Edit Review!</h1>

<%= render partial: "layouts/errors", locals: {object: @review}%>

<%= form_for(@review) do |f|%>
  <%= f.label :movie %>
  <%= f.collection_select :movie_id, Movie.all, :id, :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <%= f.submit %>
<% end %>