<% if @movie %>
  <h1>Reviews for <%= @movie.title %></h1>
<% else %>
  <h1>All Reviews</h1>
<% end %>

<ul>
<% @reviews.each do |r|%>
  <li><%= r.user.username%> says "<%= r.content%>" about this movie: <strong><%= link_to r.movie.title, movie_path(r.movie_id) %></strong> and gave it a rating of <%= r.rating %></li>
<% end %>
</ul>

<h4><%= link_to 'Back', movie_path(@movie), class: "btn btn-info"  %></h4>